
  .i7qpumenulist-menu:hover .dropdown-content-i7qpu {
    display: flex;
    flex-direction: column;
  }
  .i7qpumenulist-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff !important;
    border-bottom: 1px solid #ddd;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
  }
  .i7qpumenulist-menu:hover {
    background-color: #e0e0e0;
    border-radius: 5px;
    color: #000 !important;
    cursor: pointer;
  }
  .i7qpumenulist-menu:hover > a {
    color: #000 !important;
  }




  .i7qpumenulist-menu > a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff !important;
  }

  .dropdown-content-active-i7qpu {
     background-color: #e0e0e0;
    border-radius: 5px;
    color: #000 !important;
    cursor: pointer;

  }

  .dropdown-content-active-i7qpu > a {
    color: #000 !important;
  }



  .dropdown-content-i7qpu {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    z-index: 102;
    margin-top: 10px;
    padding: 5px;
  }
  .dropdown-content-i7qpu > a {
    width: inherit;
    padding: 10px;
    border: solid;
    border-width: 0px 0px 1px 0px;
    text-align: left;
    color: #fff;
  }
  .dropdown-content-i7qpu > a:hover {
    background-color: #000;
  }
  .module-logo {
    width: 200px;
  }
  .i7qpubody {
    width: var(--max);
    display: flex;
    align-items: center;
    margin: 10px 0px 10px 0px;
    gap: 20px;
    justify-content: space-between;
  }
  .i7qpubody > a {
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    gap: 10px;
  }
  .i7qpu-title {
    font-size: 16px;
    font-weight: 500;
    color: --titlecolor--;
  }
  .i7qpu-spot {
    font-size: 16px;
    color: --spotcolor--;
  }
  .i7qpu-icon {
    font-size: 36px !important;
    color: --iconcolor--;
  }
  .i7qpu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .i7qputitle {
    width: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .i7qputitlebody {
    color: #fff;
    width: var(--max);
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
  }
  .i7qputitlebodytitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .i7qputitlebodylang {
    width: auto;
    margin: -5px 0px -5px 0px;
  }
  .i7qputitlebodylang ul {
    display: flex;
    gap: 5px;
    position: relative;
  }
  .i7qputitlebodylang li {
    position: relative;
    list-style: none;
  }
  .i7qpumenu {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: var(--max);
  }
  .i7qpumenulist {
    width: calc(100% - 20px);
    background-color: #1e3046;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .i7qpumenubody {
    width: 100%;
    background-color: #1e3046;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .i7qpumenulist {
    width: 100%;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    padding: 10px;
    /* overflow-x: auto; */
  }
  .i7qpumenulistbody {
    width: 100%;
  }
  @media screen and (max-width: 1024px) {
    .i7qpumenu {
      overflow-x: auto;
    }
    .i7qpumenulist {
      flex-direction: row;
    }
    .module-logo {
      width: 200px;
    }
    .i7qpubody {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }


  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-container {
    margin-left: auto;
    margin-right: auto;
  }


  .title-lrng4 {
    font-size: 18px;
  }
  .lrng4body {
    display: flex;
    align-items: stretch;
    padding: 15px 0px 15px 0px;
    height: 350px;
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .swiper-pagination-lrng4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px !important;
  }
  .sliderxlrng4 {
    position: relative;
    width: 100%;
    max-width: var(--max);
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .slider-lrng4t-itle {
    width: 100%;
    font-size: 28px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 10px;
  }
  .swiper-button-prev-lrng4,
  .swiper-button-next-lrng4 {
    color: #000 !important;
    font-size: 28px;
    font-weight: bold;
    opacity: 0.4;
    position: absolute !important;
    /* Change relative to absolute */
    top: 50%;
    /* Position it at the middle of the container */
    transform: translateY(-50%);
    /* Center it vertically */
  }
  .swiper-button-prev-lrng4 {
    left: -30px !important;
  }
  .swiper-button-next-lrng4 {
    right: -30px !important;
  }
  @media screen and (max-width: 1024px) {
    .sliderxlrng4 {
      width: 100%;
    }
  }
  .img-lrng4 {
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin-top: 5px;
    padding: 5px 0px 5px 0px;
    position: relative;
    overflow: hidden;
  }
  .img-lrng4 > img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .spot-lrng4 {
    flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
  .button-lrng4 {
    background-color: #1e3046;
    padding: 8px;
    border-radius: 5px;
    color: #fff;
    display: flex;
  }
  .button-lrng4 > * {
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .button-lrng4:hover {
    filter: brightness(0.9);
    transition: filter 0.3s;
  }
  .button-lrng4:hover span {
    transform: translateX(8px) scale(1.2);
    /* Move and scale the icon */
    transition:
      transform 0.4s ease,
      color 0.4s ease;
  }
  .button-lrng4:hover .w100 {
    transition: color 0.4s ease;
  }
  .swiper-lrng4 {
    background-color: #fff;
    aspect-ratio: 3/4;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 10px;
    margin: 5px;
    gap: 10px;
    padding: 5px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    transition: filter 0.3s;
    cursor: pointer;
  }
  .lrng4 {
    overflow-x: auto;
  }
  .lrng4::-webkit-scrollbar {
    display: none;
  }


  .l4il8-out {
    background-color: #1e3046;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 20px 0px 20px 0px;
    float: left;
  }

  .l4il8-right-body-chile {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 15px;
  }

  .l4il8-right-body-chile-row {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: solid;
    border-style: dashed;
    border-width: 0px 0px 0px 5px;
    padding-left: 10px;
  }

  .l4il8-right-body-chile-row-name {
    font-size: 22px;
    font-weight: 500;
  }

  .l4il8-right-body-chile-row-spot {
    font-size: 18px;
  }

  .l4il8-right-body {
    width: 100%;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
  }

  .l4il8-right-body-name {
    font-size: 28px;
    font-weight: 500;
  }

  .l4il8-right-body-spot {
    font-size: 18px;
  }

  .l4il8 {
    width: var(--max);
    display: flex;
    flex-direction: row;
    min-height: 400px;
    float: left;
  }

  .l4il8-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .l4il8-left {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: right;
  }

  .l4il8-left-img {
    aspect-ratio: 1/1;
    border-radius: 100%;
    width: 300px;
    background-color: bisque;
    margin-right: -150px;
    border: solid 15px #fff;
    box-shadow: 0 4px 40px rgba(29, 27, 76, 0.32);
  }

  @media screen and (max-width: 1024px) {
    .l4il8 {
      width: 100%;
      display: flex;
      flex-direction: column;
      min-height: 400px;
      float: left;
      padding: 15px 0px 15px 0px;
    }

    .l4il8-left-img {
      width: calc(var(--max) / 2);
      max-width: 200px;
      margin-right: 0px;
      float: left;
    }

    .l4il8-right-body {
      margin-left: 0;
      padding: 10px;
    }

    .l4il8-left {
      justify-content: center;
      background-color: #1e3046;
    }
  }

  @media screen and (min-width: 1024px) {
    .l4il8 {
      width: var(--max);
      display: flex;
      flex-direction: row;
      min-height: 400px;
    }

    .l4il8-right-body-chile-row {
      flex: 1;
    }

    .l4il8-right {
      flex: 5;
    }

    .l4il8-left {
      flex: 1;
    }
  }


  .zoom-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200;
    width: 100%;
  }
  .zoom-icon {
    font-size: 250px !important;
    color: #333;
    animation: pulse 2s infinite;
    opacity: 0.5;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  .dvvfz-body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--max);
  }
  .dvvfz-body-chile {
    padding: 20px;
    display: flex;
    align-items: top;
    justify-content: left;
    flex-direction: column;
    position: absolute;
  }
  .dvvfz-body-chile > div {
    width: 100% !important;
  }
  .dvvfz2 {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
  }
  .dvvfz {
    display: flex;
    flex-direction: column;
  }
  .dvvfz > svg {
    width: 100vw;
  }
  .dvvfzbotton {
    transform: scaleY(-1);
    margin-bottom: -1px;
  }
  .dvvfz-svg {
    fill: #fff;
  }
  .dvvfz-bg {
    background-image: url("/img/pp1xsk/map.png?v={{random}}") !important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  @media screen and (max-width: 1024px) {
  }


  .slider-hm13lt-itle {
    margin-top: 20px;
    font-size: 28px;
    font-weight: 500;
    width: var(--max);
  }
  .hm13l {
    width: 100%;
    background-color: #000;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .hm13l-chile {
    width: var(--max);
  }
  .video-container,
  #video {
    width: 100%;
  }


  .sliderxuod3dbody {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #1e3046 0%, #000428 100%);
    margin: 0px 0px 0px 0px;
    padding: 25px 0px 25px 0px;
  }
  .sliderxuod3d {
    width: calc(var(--max) - 40px);
    display: flex;
    background-color: #f9f9f9;
    border-radius: 12px;
    padding: 25px;
    gap: 40px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  .sliderxuod3d:hover {
    transform: translateY(-5px);
  }
  .sliderxuod3dtitle {
    width: 60%;
    font-size: 28px;
    padding-right: 15px;
    color: #004e92;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #004e92;
  }
  .uod3d {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
  }
  .uod3d-media {
    width: 75px;
    height: 75px;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .uod3d-media:hover {
    transform: scale(1.2);
  }
  @media screen and (max-width: 1200px) {
    .sliderxuod3d {
      width: calc(var(--max) - 100px) !important;
    }
    .uod3d-media {
      width: 60px;
      height: 60px;
    }
  }


  .footer {
    position: relative;
    background: #1e3046;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
  }

  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }

  .social-icon__item,
  .menu__item {
    list-style: none;
  }

  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }

  .social-icon__link:hover {
    transform: translateY(-10px);
  }

  .menu__link {
    font-size: 1.2rem;
    color: #fff !important;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }

  .menu__link:hover {
    opacity: 1;
  }

  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }

  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url("data:image/svg+xml,%3Csvg version='1.0' id='katman_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 640 65' style='enable-background:new 0 0 640 65;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%231e3046;%7D %3C/style%3E %3Cpath class='st0' d='M0,22.4C0,22.4,74.1,0,153,0c176.5,0,328.1,76.6,487,22.4V65H0V22.4z'/%3E%3C/svg%3E");
    background-size: 1000px 102px;
  }

  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }

  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }

  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }

  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }

  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }

    100% {
      background-positon-x: 0px;
    }
  }

  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }

    100% {
      background-positon-x: 0px;
    }
  }

